.product-container {
  padding: 2em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 2em;
  padding: 1.5em;
}

.image {
  width: min(100%, 300px);
}

.name {
  font-size: 20px;
  text-align: center;
  margin: 0.5em 0;
}

.price,
.delivery,
.rating {
  align-self: flex-start;
}

.cart-btn {
  margin-top: 0.5em;
}
