.filter {
  display: flex;
  flex-direction: column;
  background: #212529;
  width: max(20%, 250px);
  flex-shrink: 0;
}

.title {
  font-size: 24px;
  align-self: center;
  white-space: nowrap;
  color: white;
}

.filters {
  margin: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

.clear-btn {
  align-self: center;
}
