ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  /* align-self: flex-start */
}

.container {
  width: min(80%, 1000px);
  margin: 0 auto;
}

.row {
  display: flex;
}

.col {
  width: 100%; /* flex items have same width */
}

.col + .col {
  margin-left: 3em; /* gap: 3em */
}

header .row {
  align-items: center;
}

nav {
  flex-grow: 1;
  display: flex;
}

.nav__list {
  display: flex;
}

.nav__list--primary {
  margin: 0 auto;
}

/* 
.nav__item--right {
  margin-left: auto;
} */
